<div class="row">
    <%# <div class="col-md-6"><%= render(@cart.line_items) %>
    <%# </div> %>
    <div class="col-md-6"><h2>Please enter your details<h2>
    <%= render 'form', order: @order %>

    <%= link_to 'Back', orders_path %></div>
</div>