/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_select2
 *= require_select2-bootstrap
 */
@import "bootstrap/scss/bootstrap";

.limited {
  max-width: 100%;
}

body {
  background-color: #F5F5F1;
  // color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #f700ff;
}

.navbar .navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
}

.navbar .navbar-nav > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #bbff00;
  }

.center {
    text-align: center;
}

.col-md-6{
    h3 {font-size: 45px;}
    h5 {font-size: 25px;}
    p {font-size: 18px;}

}
.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.card{
  margin-bottom: 20px;
}

// Nav Bar Toggler
.custom-toggler.navbar-toggler { 
  border-color: white; 
} 
/* Change the color in the stroke property of the image data */
.custom-toggler .navbar-toggler-icon { 
  background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.jumbotron {
  background-image: url('https://i.imgur.com/4UDzwvO.jpg');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media only screen and (min-width:950px) {
  .user-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.new-message{
  background-color: magenta;
  color: white;
}

/* 
Generic Table Styling, for Desktops/Laptops 
*/
.tablee { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}

td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
  }
  /*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Image"; }
	td:nth-of-type(2):before { content: "Name"; }
	td:nth-of-type(3):before { content: "Description"; }
	td:nth-of-type(4):before { content: "Price"; }
	td:nth-of-type(5):before { content: "View | Edit | Delete"; }
	td:nth-of-type(6):before { content: "Column Name"; }
	td:nth-of-type(7):before { content: "Column Name"; }
	td:nth-of-type(8):before { content: "Column Name"; }
	td:nth-of-type(9):before { content: "Column Name"; }
	td:nth-of-type(10):before { content: "Column Name"; }
}
  
